.App {
  text-align: center;
}


h1 {
  font-size: 1.5rem !important;
}

.map-container {
  background-color: #ECEBEA;
  height: calc(100vh - 60px);
}

#search-input {
  width: 325px;
  max-width: 100%;
  float: left;
  margin-bottom: 16px;
}

.fixed-top {
  position: relative !important;
}


.side-list {
  /* from https://github.com/zaynaib/map/blob/master/src/App.css */
  float:left;
  width: 325px;
  max-width: 100%;
  z-index: 1;
  height: calc(100vh - 60px);
  background-color: #fff;
  color:black;
  
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 1rem;

}

.navbar-nav {
  margin-top: .75rem;
}

/* Display only dynamic navbar list on mobile, with toggle button */
@media screen and (max-width: 480px){
    .sidebar {
    display: none;
  }
  .map-container {
    margin-top:60px;
  }
}
/* Display only static sidebar list on larger screens, do not display toggle button */
@media screen and (min-width: 481px) {
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    display: none;
  }
  .sidebar {
    max-width: 25%;
    min-width: 200px;
    /* margin-top: 60px; */
  }
}

/* wrap venue titles in infoWindow */
.infoWindowTitle {
  white-space: wrap;
  overflow: hidden;
  /* text-overflow: wrap; */
  max-width: 200px;
}


.list-item {
  list-style: none;
  margin-top: 1rem;
  padding: .5rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  cursor: pointer;
}

.error {
  background-color: blanchedalmond;
}