.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.5rem !important;
}

#search-input {
  width: 325px;
  max-width: 100%;
  /* margin: 1rem; */
  float: left;
}


.side-list {
  /* from https://github.com/zaynaib/map/blob/master/src/App.css */
  float:left;
  width: 325px;
  max-width: 100%;
  z-index: 1;
  height: calc(100vh - 90px);
  background-color: #fff;
  color:black;
  
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
    padding: 1rem;

}

.navbar-nav {
  margin-top: .75rem;
}


@media screen and (max-width: 480px){
    .sidebar {
    display: none;
  }
  .map-container {
    margin-top:60px;
  }
}
@media screen and (min-width: 481px) {
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    display: none;
  }
  .sidebar {
    max-width: 25%;
    min-width: 200px;
    margin-top: 60px;
  }
}


.list-item {
  list-style: none;
  margin-top: 1rem;
  padding: .5rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  cursor: pointer;
}